---
import { menuItems } from "../consts.ts";
import type { LinkListData } from "../types";
const {
  hideCard = false
} = Astro.props as LinkListData;
---

<ul
  class="menu menu-md dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 border-0"
>
  {
    menuItems.map((item) => (
      <li>
        {item?.subItems ?
          <details class="menu-item" open="">
              <summary class="justify-center lg:justify-start items-center text-center text-xl md:text-3xl lg:text-xl font-bold p-4">

                <span class="hidden lg:inline ml-2">{item.text}</span>
              </summary>
              <ul>
                {item.subItems?.map((subItem) => (
                  <li>
                    <a
                      tabindex="0"
                      class="menu-item text-xl font-bold p-2"
                      id={`header-${subItem.id}`}
                      href={subItem.href}
                      target={subItem.target || "_self"}
                      aria-label={subItem.text}>

                      <span class="hidden lg:inline ml-2">{subItem.text}</span>
                    </a>
                  </li>
                ))}
              </ul>
          </details>
          :
          <>
          {item?.subItems ?
            <div
              tabindex="0"
              class="menu-item menu-cat text-xl font-bold p-4"
              id={`header-${item.id}`}
              title={item.id}
              aria-label={item.text}>
              {item.text}
            </div>
          :
            <a
              tabindex="0"
              class="menu-item text-xl font-bold p-4"
              id={`header-${item.id}`}
              title={item.id}
              href={item.href}
              target={item.target || "_self"}
              aria-label={item.text}>
              {item.text}
            </a>
          }
          </>
        }
      </li>
    ))
  }
</ul>
