---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Menu from "./ProfileCardMenu_byte.astro";
import Footer from "./ProfileCardFooter.astro";
import { USER_AVATAR, USER_NAME, SITE_DESCRIPTION, BRAND_LOGO, BRAND_LOGO_SUB } from "../consts";
import { getEntry } from 'astro:content';
import ThemeIcon from "../components/ThemeIcon.astro";
import type { LinkListData } from "../types";

const aboutPost = await getEntry('spec', 'about');
const { Content } = await aboutPost.render();

const {
  showBorder = false,
  class_ = "",
  menu = true,
  linklist = false,
  sideCard = false,
  hideCard = false
} = Astro.props as LinkListData;
---

<div class:list={[{"w-[286px] m-auto":linklist}, {"w-full border-0":!linklist}, class_]}>
  <div class="m-auto rounded-xl flex-col gap-0 w-full sticky md:sticky lg:relative card bg-base-100 p-2 transition-colors">
    <div class="text-center gap-0 "> <!-- grid grid-col-1 -->
      <div class="avatar p-2">
        <a class="id_home" href="/">
          <Icon class="dark:hidden align-middle w-[100px] h-[100px]" name={`${BRAND_LOGO}`} />
          <Icon class="hidden dark:!block align-middle w-[100px] h-[100px]" name={`${BRAND_LOGO_SUB}`} />
        </a>
      </div>
      <a class="id_home" href="/"><div class="font-bold text-3xl font-anta tracking-wider">{USER_NAME}</div></a>
      <div class="text-sm font-saira">{SITE_DESCRIPTION}</div>
      { linklist ? <Menu linklist={linklist} showBorder={showBorder} /> : <Footer /> }
    </div>
  </div>
  <div class:list={[{"hidden":hideCard}]}>
    { sideCard ? <Content /> : "" }
    <!-- { menu ? <Menu hideCard={hideCard} /> : "" } -->
  </div>
</div>
